*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#121212;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container{
    width:400px;
    background:#1d1d1d;
    padding:30px;
    border-radius:15px;
}

h1{
    margin-bottom:10px;
}

p{
    color:#aaaaaa;
    margin-bottom:20px;
}

.password-box input{
    width:100%;
    padding:15px;
    font-size:18px;

    border:none;
    outline:none;

    border-radius:8px;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:15px;

    border:none;
    border-radius:8px;

    background:#3b82f6;
    color:white;

    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#2563eb;
}
.options{
    margin-bottom:20px;
}

.option{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
}

#length{
    width:100%;
    margin-bottom:20px;
}

.checkbox{
    display:block;
    margin-bottom:10px;
}